div(class="chat-container chat-container_style-main")
    div(class="chat-container__name") #{templateObject.currentRoom}
    div(class="message-container" id="message-container")
        each rec, num in templateObject.history
            div(class="chat-message")
                div() #{rec.userName}
                div() #{rec.message}
    input(class="chat-container__input" type="text" placeholder="Напишите сообщение..." id="messageInput")
    div(class="button-container")
        div(class="button-container__button" id="back") Назад
        div(class="button-container__button" id="send") Отправить