.room-creator_style-main {
    height: var(--room-create-height);
    min-height: var(--room-create-height);
    width: var(--room-create-width);
    
    margin: var(--room-create-vertical_margin) 0px;

    background-color: var(--color-bg-room-create);
    border: 2px solid var(--color-border-room-create);
}