.button-container__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: var(--button-container-button-width);
    height: var(--button-container-button-height);
}